<template>
  <section>
    <div class="container">
      <div class="row clearfix">
        <div class="col-md-10 offset-md-1 col-sm-12">
          <div class="card form">
            <form @submit.prevent="onConfirmForm">
              <div class="header">
                <ul class="breadcrumb">
                  <li>Step 1</li>
                  <li>Step 2</li>
                  <li>Step 3</li>
                  <li>Step 4</li>
                  <li class="on">Confirm</li>
                </ul>
              </div>
              <div class="body">
                <fieldset>
                  <legend>요청서 확인</legend>
                  <dl class="block">
                    <dt>&#x00B7; 청소 스타일</dt>
                    <dd>{{formData.step1.answer}}</dd>
                  </dl>
                  <dl class="block">
                    <dt>&#x00B7; 청소 시간</dt>
                    <dd>{{formData.step2.answer}}</dd>
                  </dl>
                  <dl class="block">
                    <dt>&#x00B7; 추가 요청</dt>
                    <dd>{{formData.step3.answer}}</dd>
                  </dl>
                  <dl class="block">
                    <dt>&#x00B7; 추가 답변1</dt>
                    <dd>{{formData.step4.answer.split(',')[0]}}</dd>
                  </dl>
                  <dl class="block">
                    <dt>&#x00B7; 추가 답변2</dt>
                    <dd>{{formData.step4.answer.split(',')[1]}}</dd>
                  </dl>
                  <dl class="block">
                    <dt>&#x00B7; 추가 답변3</dt>
                    <dd>{{formData.step4.answer.split(',')[2]}}</dd>
                  </dl>
                </fieldset>
              </div>
              <div class="footer button-box">
                <Button class="white" value="이전" @click.native.prevent="$router.back()"/>
                <Button type="submit" class="primary" :loading="isRequestSubmit" value="제출"/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <Popup :type="'confirm'" :opened="isPopupOpen" title="요청서 제출" message="이대로 제출하시겠습니까?"
           v-on:popupOff="onListenPopup"/>
  </section>
</template>

<script>
import inputs from '@/assets/input'
import Button from '@/components/Button'
import Popup from '@/components/Popup'

export default {
  name: 'confirm',
  components: { Popup, Button },
  data () {
    return {
      selectedAnswer: '',
      inputs: inputs,
      submitData: {},
      isPopupOpen: false,
      isRequestSubmit: false,
    }
  },
  computed: {
    formData () {
      return this.$store.getters.getForm
    },
  },
  methods: {
    onListenPopup (result) {
      this.isPopupOpen = false
      if (result.result === 'ok') {
        Object.values(this.formData).forEach(step => {
          this.submitData.items.push(step)
        })
        setTimeout(() => {
          console.log('submitData', this.submitData)
          this.$router.push('/request/result')
        }, 500)
      } else {
        this.isRequestSubmit = false
      }
    },
    onConfirmForm () {
      this.isRequestSubmit = true
      this.isPopupOpen = true
    },
  },
  created () {
    this.submitData = {
      id: this.inputs.formId,
      items: [],
    }
  },
}
</script>

<style lang="scss" scoped>
.container {

  .card {
    margin-top: 48px;
    margin-bottom: 48px;

    form {

      dl {

        dd {
          padding-left: 24px;
        }
      }
    }
  }
}
</style>
