<template>
  <section>
    <div class="container">
      <div class="row clearfix">
        <div class="col-md-10 offset-md-1 col-sm-12">
          <div class="card">
            <div class="header">요청서 제출 완료</div>
            <div class="body">
              <p>제출해주신 요청서에 맞는 고수를 검색하여 매칭해드리겠습니다.</p>
              <p>숨고를 이용해주셔서 감사합니다. :)</p>
            </div>
            <div class="footer button-box">
              <Button class="primary" value="홈으로" @click.native="$router.push('/')"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Button from '@/components/Button'

export default {
  name: 'result',
  components: { Button },
  data () {
    return {
    }
  },
  methods: {},
  created () {
    this.$store.commit('setForm')
  },
}
</script>

<style lang="scss" scoped>
.container {

  .card {
    margin-top: 48px;
    margin-bottom: 48px;
    padding: 40px;

    .header {
      font-size: 30px;
    }

    .body {
      margin-top: 48px;
      font-size: 24px;

      p {
        white-space: normal;
        word-break: keep-all;
      }
    }

    .footer {
      margin-top: 48px;
    }
  }
}
</style>
