<template>
  <section>
    <div class="container">
      <div class="row clearfix">
        <div class="col-md-10 offset-md-1 col-sm-12">
          <div class="card form">
            <div class="header">
              <ul class="breadcrumb">
                <li>Step 1</li>
                <li>Step 2</li>
                <li>Step 3</li>
                <li class="on">Step 4</li>
                <li>Confirm</li>
              </ul>
            </div>
            <div class="body">
              <fieldset>
                <legend>{{formDescription.title}}</legend>
              </fieldset>
              <dl class="block" v-for="(option, index) in formDescription.options" :key="index">
                <dt>&#x00B7; {{ option.text }}</dt>
                <dd>
                  <select v-model="option.answer" @change="onChangeSelect(index, option.answer)">
                    <option v-for="answer in option.answers"
                            :value="answer.value"
                            :key="answer.key"
                            :selected="option.answer"
                    >{{answer.value}}
                    </option>
                  </select>
                </dd>
              </dl>
            </div>
            <div class="footer button-box">
              <Button class="white" value="이전" @click.native.prevent="$router.back()"/>
              <Button class="primary" value="다음" @click.native.prevent="onGoNextStep"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Popup :type="'alert'" :opened="isPopupOpen" title="앗!!" message="선택하지 않은 답변이 있습니다!" v-on:popupOff="onListenPopup"/>
  </section>
</template>

<script>
import inputs from '@/assets/input'
import Button from '@/components/Button'
import Popup from '@/components/Popup'

export default {
  name: 'step4',
  components: { Popup, Button },
  data () {
    return {
      formDescription: {},
      selectedOptions: [],
      stepData: {
        id: 4,
        answer: '',
      },
      isPopupOpen: false,
    }
  },
  computed: {
    formData () {
      return this.$store.getters.getForm
    },
  },
  methods: {
    onChangeSelect (index, answer) {
      this.selectedOptions[index] = answer
    },
    onListenPopup (result) {
      this.isPopupOpen = false
    },
    onGoNextStep () {
      if (this.selectedOptions.length < 3) {
        this.isPopupOpen = true
        return
      }
      this.stepData.answer = this.selectedOptions.join(',')
      this.formData.step4 = this.stepData
      this.$store.commit('setForm', this.formData)
      this.$router.push('/request/confirm')
    },
  },
  created () {
    this.formDescription = JSON.parse(JSON.stringify(inputs.items[3]))
  },
}
</script>

<style lang="scss" scoped>
.container {

  .card {
    margin-top: 48px;
    margin-bottom: 48px;
  }
}
</style>
