<template>
  <section>
    <div class="container">
      <div class="row clearfix">
        <div class="col-md-10 offset-md-1 col-sm-12">
          <div class="card form">
            <div class="header">
              <ul class="breadcrumb">
                <li>Step 1</li>
                <li class="on">Step 2</li>
                <li>Step 3</li>
                <li>Step 4</li>
                <li>Confirm</li>
              </ul>
            </div>
            <div class="body">
              <fieldset>
                <legend>{{formDescription.title}}</legend>
                <dl class="inline" v-for="(option, index) in formDescription.options" :key="index">
                  <dt class="radiobox">
                    <label><input type="radio" @change="setOptionChecked(option)"
                                  :checked="option.id===selectedOption.id"><span></span></label>
                  </dt>
                  <dd>{{ option.text }}</dd>
                </dl>
              </fieldset>
            </div>
            <div class="footer button-box">
              <Button class="white" value="이전" @click.native.prevent="$router.back()"/>
              <Button class="primary" value="다음" @click.native.prevent="onGoNextStep"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Popup :type="'alert'" :opened="isPopupOpen" title="앗!!" message="아무것도 선택되지 않았습니다!" v-on:popupOff="onListenPopup"/>
  </section>
</template>

<script>
import inputs from '@/assets/input'
import Button from '@/components/Button'
import Popup from '@/components/Popup'

export default {
  name: 'step2',
  components: { Popup, Button },
  data () {
    return {
      selectedOption: {},
      formDescription: {},
      stepData: {
        id: 2,
        answer: '',
      },
      isPopupOpen: false,
    }
  },
  computed: {
    formData () {
      return this.$store.getters.getForm
    },
  },
  methods: {
    setOptionChecked (option) {
      this.selectedOption = option
      option.checked = true
    },
    onListenPopup (result) {
      this.isPopupOpen = false
    },
    onGoNextStep () {
      if (!this.selectedOption.text) {
        this.isPopupOpen = true
        return
      }
      this.stepData.answer = this.selectedOption.text
      this.formData.step2 = this.stepData
      this.$store.commit('setForm', this.formData)
      this.$router.push('/request/step3')
    },
  },
  created () {
    this.formDescription = JSON.parse(JSON.stringify(inputs.items[1]))
  },
}
</script>

<style lang="scss" scoped>
.container {

  .card {
    margin-top: 48px;
    margin-bottom: 48px;
  }
}
</style>
