<template>
  <section>
    <div class="container">
      <div class="row clearfix">
        <div class="col-md-10 offset-md-1 col-sm-12">
          <div class="card form">
            <div class="header">
              <ul class="breadcrumb">
                <li>Step 1</li>
                <li>Step 2</li>
                <li class="on">Step 3</li>
                <li>Step 4</li>
                <li>Confirm</li>
              </ul>
            </div>
            <div class="body">
              <fieldset>
                <legend>{{formDescription.title}}</legend>
                <dl class="block">
                  <dd>
                    <input type="text" v-model="stepData.answer">
                  </dd>
                </dl>
              </fieldset>
            </div>
            <div class="footer button-box">
              <Button class="white" value="이전" @click.native.prevent="$router.back()"/>
              <Button class="primary" value="다음" @click.native.prevent="onGoNextStep"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Popup :type="'confirm'" :opened="isPopupOpen" title="추가 요청" message="추가 요청 사항 없이 진행하시겠습니까?"
           v-on:popupOff="onListenPopup"/>
  </section>
</template>

<script>
import inputs from '@/assets/input'
import Button from '@/components/Button'
import Popup from '@/components/Popup'

export default {
  name: 'step3',
  components: { Popup, Button },
  data () {
    return {
      formDescription: {},
      stepData: {
        id: 3,
        answer: '',
      },
      isPopupOpen: false,
    }
  },
  computed: {
    formData () {
      return this.$store.getters.getForm
    },
  },
  methods: {
    onListenPopup (result) {
      this.isPopupOpen = false
      if (result.result === 'ok') {
        this.formData.step3 = this.stepData
        this.$store.commit('setForm', this.formData)
        this.$router.push('/request/step4')
      }
    },
    onGoNextStep () {
      if (!this.stepData.answer) {
        this.isPopupOpen = true
        return
      }
      this.formData.step3 = this.stepData
      this.$store.commit('setForm', this.formData)
      this.$router.push('/request/step4')
    },
  },
  created () {
    this.formDescription = JSON.parse(JSON.stringify(inputs.items[2]))
  },
}
</script>

<style lang="scss" scoped>
.container {

  .card {
    margin-top: 48px;
    margin-bottom: 48px;

    .body {

      dl {

        dd {
          width: 100%;
        }
      }
    }
  }
}
</style>
