<template>
  <section>
    <div class="container">
      <div class="row clearfix">
        <div class="col-md-10 offset-md-1 col-sm-12">
          <div class="card form">
            <div class="header">
              <ul class="breadcrumb">
                <li class="on">Step 1</li>
                <li>Step 2</li>
                <li>Step 3</li>
                <li>Step 4</li>
                <li>Confirm</li>
              </ul>
            </div>
            <div class="body">
              <fieldset>
                <legend>{{formDescription.title}}</legend>
                <dl class="inline" v-for="(option, index) in formDescription.options" :key="index">
                  <dt class="checkbox">
                    <label>
                      <input type="checkbox" @change="setOptionChecked(option)" :checked="option.checked">
                      <span></span>
                    </label>
                  </dt>
                  <dd>{{ option.text }}</dd>
                </dl>
              </fieldset>
            </div>
            <div class="footer button-box">
              <Button class="white" value="이전" @click.native.prevent="$router.back()"/>
              <Button class="primary" value="다음" @click.native.prevent="onGoNextStep"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Popup :type="'alert'" :opened="isPopupOpen" title="앗!!" message="아무것도 선택되지 않았습니다!" v-on:popupOff="onListenPopup"/>
  </section>
</template>

<script>
import inputs from '@/assets/input'
import Button from '@/components/Button'
import Popup from '@/components/Popup'

export default {
  name: 'step1',
  components: { Popup, Button },
  data () {
    return {
      selectedList: [],
      formDescription: {},
      stepData: {
        id: 1,
        answer: '',
      },
      isPopupOpen: false,
    }
  },
  computed: {
    formData () {
      return this.$store.getters.getForm || {}
    },
  },
  methods: {
    setOptionChecked (option) {
      if (option.checked) {
        option.checked = !option.checked
        this.selectedList.splice(option.text, 1)
      } else {
        option.checked = true
        this.selectedList.push(option.text)
      }
      this.stepData.answer = this.selectedList.join(',')
      this.formData.step1 = this.stepData
      this.$store.commit('setForm', this.formData)
    },
    onListenPopup (result) {
      this.isPopupOpen = false
    },
    onGoNextStep () {
      if (this.selectedList.length <= 0) {
        this.isPopupOpen = true
        return
      }
      this.$router.push('/request/step2')
    },
  },
  created () {
    this.formDescription = JSON.parse(JSON.stringify(inputs.items[0]))
  },
}
</script>

<style lang="scss" scoped>
section {

  .container {

    .card {
      margin-top: 48px;
      margin-bottom: 48px;
    }
  }
}
</style>
