<template>
  <section>
    <div class="container">
      <div class="row clearfix">
        <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">
          <div class="card">
            <div class="header">{{inputForm.title}}</div>
            <div class="body">
              <p>고수를 소개받기 위해 몇가지 질문에 답해주세요!</p>
            </div>
            <div class="footer">
              <Button class="primary" value="견적요청하기" @click.native="$router.push('/request/step1')"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import inputs from '@/assets/input'
import Button from '@/components/Button'

export default {
  name: 'home',
  components: { Button },
  data () {
    return {
      inputForm: inputs,
    }
  },
  methods: {},
  created () {
    this.$store.commit('setForm')
  },
}
</script>

<style lang="scss" scoped>
.container {

  .card {
    margin-top: 48px;
    margin-bottom: 48px;
    padding: 40px;

    .header {
      font-size: 30px;
    }

    .body {
      margin-top: 48px;
      font-size: 30px;

      p {
        white-space: normal;
        word-break: keep-all;
      }
    }

    .footer {
      margin-top: 48px;
    }
  }
}
</style>
