<template>
  <button :type="type" class="button" :class="{'loading': loading}" :disabled="disabled">
    {{ `${loading ? '' : value}` }}
    <svg v-if="loading" class="spinner" width="25" height="25" viewBox="0 0 50 50">
      <circle class="path" cx="25" cy="25" r="20" fill="none" :stroke="color" stroke-width="5"></circle>
    </svg>
  </button>
</template>

<script>
export default {
  name: 'Button',
  props: {
    loading: false,
    value: '',
    type: '',
    strokeColor: '',
    disabled: false,
  },
  data () {
    return {
      color: 'white',
    }
  },
  watch: {
    loading (value) {
      console.log('Button loading', value)
    },
  },
  methods: {},
  created () {
    this.color = this.strokeColor === '' ? 'white' : this.strokeColor
  },
}
</script>

<style lang="scss" scoped>
.loading {
  text-align: center;

  .spinner {
    position: relative;
    animation: rotate 2s linear infinite;
    display: flex;
    margin: auto;

    .path {
      stroke-linecap: round;
      animation: dash 1.5s ease-in-out infinite;
    }
  }

  &.primary {

    .path {
      stroke: #fff;
    }
  }

  &.white {

    .path {
      stroke: #00c7ae;
    }
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }
}
</style>
