<template>
  <div class="popup" v-if="show">
    <div class="fade" @click.stop="show=false"></div>
    <div class="box" :style="{'max-width': maxWidth? maxWidth: '480px'}">
      <div v-if="title" class="header" v-html="title">
      </div>
      <div v-if="message" class="body" v-html="message">
      </div>
      <div class="footer">
        <Button v-if="type==='confirm'" type="button" class="white" value="Cancel" @click.native.stop="onEmitResult('cancel');show=false"/>
        <Button v-if="type==='confirm'" type="button" class="primary" value="OK" @click.native.stop="onEmitResult('ok');show=false"/>
        <Button v-if="type==='alert'" type="button" class="primary" value="OK" @click.native.stop="onEmitResult('ok');show=false"/>
      </div>
    </div>
  </div>
</template>

<script>
import Button from '@/components/Button'

export default {
  name: 'Popup',
  components: { Button },
  props: {
    type: '',
    opened: false,
    title: '',
    message: '',
    maxWidth: '',
  },
  data () {
    return {
      emitObject: {},
    }
  },
  computed: {
    show: {
      get () {
        return this.opened
      },
      set (value) {
        if (!value) {
          this.$emit('popupOff', this.emitObject)
        }
      },
    },
  },
  methods: {
    onEmitResult (result) {
      this.emitObject = { result: result }
    },
  },
}
</script>

<style lang="scss" scoped>
.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  .fade {
    width: 100%;
    height: 100%;
    background-color: #7f7f7f;
    opacity: 0.4;
  }

  .box {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: auto;
    padding: 24px;
    border-radius: 3px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.3);
    border: solid 1px #e0e0e0;
    background-color: #fff;
    opacity: 1;

    .header {

    }

    .body {
      margin-top: 12px;
      font-size: 18px;
      line-height: 1.5;
    }

    .footer {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      .button {
        width: 108px;
      }

      .button + .button {
        margin-left: 24px;
      }
    }
  }
}
</style>
