$white: #fff;
$light-gray: #dedede;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #00c7ae;
$secondary: #e1e1e1;
$success: #00c7ae;
$info: #17a2b8;
$warning: #ffce21;
$danger: #ff3131;
$light: #f8f9fa;
$dark: #343a40;


* {
  font-family: Noto Sans KR, 맑은 고딕, Malgun Gothic, APPLE SD Gothic NEO, Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;;
  box-sizing: border-box;
  //transition: all 1s ease;
}

html, body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
}

form {
  width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }
  @include optional-at-root(':-moz-placeholder') {
    @content;
  }
  @include optional-at-root('::-moz-placeholder') {
    @content;
  }
  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

input,
select {
  width: 100%;
  height: 44px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid $light-gray;
  color: $dark;
  font-size: 15px;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  @include placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  &:focus {
    border-color: $primary;
  }

  &.error {
    border: 1px solid $danger;
  }
}

.button {
  width: 100%;
  height: 44px;
  padding: 0 16px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;

  &.primary {
    background: $primary;
    color: $white;
  }

  &.white {
    background: $white;
    color: $primary;
    border: 1px solid $primary;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:hover {
    opacity: 1.2;
  }
}

.checkbox {
  display: flex;

  label {
    height: 20px;
    margin: 0;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    line-height: 100%;
    cursor: pointer;

    input {
      display: none;
    }

    span {
      padding-left: 20px;
    }

  }

  label span::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 0;
    top: 0;
    left: 0;
    border-radius: 4px;
    border: 2px solid $light-gray;
    background-color: $white;
    z-index: 10;
    transition: all .25s ease-in-out;
  }

  label span::after {
    content: '';
    width: 0;
    height: 0;
    border: solid $white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    position: absolute;
    left: 11px;
    top: 11px;
    z-index: 10;
    transition: all .25s ease-in-out;
  }

  input:checked + span::before,
  label:hover input:checked + span::before {
    background-color: $primary;
    border: 2px solid $primary;
  }

  input:checked + span::before {
    transition: all .25s ease-in-out;
  }

  input:checked + span::after {
    width: 8px;
    height: 14px;
    left: 6px;
    top: 1px;
    transition: all .25s ease-in-out;
  }
}

.radiobox {
  display: flex;

  label {
    height: 20px;
    margin: 0;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    line-height: 100%;
    cursor: pointer;

    input {
      display: none;
    }

    span {
      padding-left: 20px;
    }

  }

  label span::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 0;
    top: 0;
    left: 0;
    border-radius: 100%;
    border: 2px solid $light-gray;
    background-color: $white;
    z-index: 10;
    transition: all .25s ease-in-out;
  }

  label span::after {
    content: '';
    width: 0;
    height: 0;
    border: 6px solid $white;
    border-radius: 100%;
    position: absolute;
    left: 4px;
    top: 4px;
    z-index: 10;
    transition: all .25s ease-in-out;
  }

  input:checked + span::before,
  label:hover input:checked + span::before {
    background-color: $white;
    border: 2px solid $primary;
  }

  input:checked + span::before {
    transition: all .25s ease-in-out;
  }

  input:checked + span::after {
    left: 4px;
    top: 4px;
    border: 6px solid $primary;
    transition: all .25s ease-in-out;
  }
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: $white;
  background-image: url("~/static/icon-arrow-down.svg");
  background-size: 8px;
  background-repeat: no-repeat;
  background-position: right 16px center;
}

select::-ms-expand {
  display: none;
}

select option {
  font-weight: normal;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
  text-align: left;

  legend {
    width: 100%;
    margin-bottom: 24px;
    padding-bottom: 12px;
    border-bottom: 1px solid $light-gray;
    text-align: left;
    font-size: 32px;
    font-weight: bold;
    color: $dark;
    white-space: normal;
    word-break: keep-all;
  }
}

dl, dt, dd {
  margin: 0;
  padding: 0;
}

dt {
  font-weight: 600;
}

dd {
  font-weight: 300;
}

dl {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &.inline {
    flex-direction: row;

    dt + dd {
      margin-left: 12px;
    }
  }

  &.block {
    flex-direction: column;

    dt, dd {
      width: 100%;
    }

    dt + dd {
      margin-top: 12px;
    }
  }
}

dl + dl {
  margin-top: 24px;
}

/* Style the list */
ul.breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;

  li {
    color: $dark;

    &.on {
      font-size: 18px;
      color: #00c7ae;
    }
  }

  li + li:before {
    padding: 8px;
    color: black;
    content: "\003E";
  }
}

.card {
  width: 100%;
  padding: 24px;
  border-radius: 4px;
  background-color: $white;
  box-shadow: 0 2px 7px 0 $dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > div {
    width: 100%;
  }

  .header {
    font-weight: bold;
    color: $dark;
  }

  .body {
    margin-top: 24px;
    color: $dark;
  }

  .footer {
    margin-top: 24px;

    &.button-box {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      .button {
        width: 108px;
      }

      .button + .button {
        margin-left: 24px;
      }
    }
  }
}

